// Specific CSS for your home-page
.btn-outline-success {
  display: flex;
  margin: 20px 20px 2px 2px;
  padding: 10px 10px;
  background-color: #06d6a0;
  border-color: #06d6a0;
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.btn-outline-success:hover {
  background-color: #06d6a0;
  opacity: 0.9;
  color: gray;
  text-decoration: none;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
}


.container-homepage {
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 20px;
    margin-left: 96px;
}

.container-bookings {
  color: black;
}

