// Specific CSS for your home-page
.btn-outline-success {
  margin: 100px;
  padding: 20px 20px;
  background-color: #06d6a0;
  border-radius: 5px;
  border-color: #06d6a0;
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.btn-outline-success:hover {
  background-color: #06d6a0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
