<!-- my bookings for desks i rented out -->
<!-- name of my desk, start_date, end-date of availability  -->
<h2>My rented out desks</h2>
<div class="container">
  <div class="cards">
    <ul>
      <% @bookings.each do |booking| %>
      <li> From: <%= booking.start_date %> - To: <%= booking.end_date %> </li>
      <% end %>
    </ul>
  </div>
</div>





<!-- my bookings for desks i'm renting -->
<!-- name of the desk
start-date, end-date of booking
location-->
<h2>My booked desks </h2>
<div class="container">
  <div class="cards">
    <ul>
      <% @bookings.each do |booking| %>
      <li> From: <%= booking.start_date %> - To: <%= booking.end_date %> </li>
      <% end %>
    </ul>
  </div>
</div>
