<!-- link to the bookings#indexpage in the navbar. -->
<div class="container pt-5">
  <div class="row justify-content-center">
    <div id="make_booking_column" class="col-12">
      <!-- link to the bookings#indexpage in the navbar. -->
      <div class="col-md-12">
        <h1>Make a Reservation</h1>
        <%= simple_form_for [@desk, @booking] do |f| %>
        <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.button :submit, class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>
