<div class="navbar">
  <%= image_tag "nav_logo.png", size: "50x50" %>
  <ul class="ul-navbar">
    <li class="li-navbar"><a href="default.asp">home</a></li>
    <li class="li-navbar"><a href="news.asp">news</a></li>
    <li class="li-navbar"><a href="contact.asp">contact</a></li>
    <li class="li-navbar"><a href="about.asp">about</a></li>
    <input class="search-container" type="text" placeholder="Search...">
  </ul>
</div>
