<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    We'll Be Right Back !
    <%= image_tag "logo.png", alt: "AirBrB", size: "50x50" %>
  </div>
</div>
