.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 10px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
}

#cards{
  position: absolute;
  top: 10px;
  right: 10px
}


.card-title {
  width: 70px

}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-product {
  overflow: hidden;
  height: 240px;
  color: black;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin-top: 100px;
  align-items: center;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-radius: 5px 5px 5px 5px;
  margin-top: 24px;
  margin-bottom: 40px;
  margin-left: 20px;
  &:hover {
  background-color: hsl(0, 0%, 93%);
  text-decoration: hsl(0, 0%, 29%);
  }
}

.link-to-card-product-1 {
  color: #06d6a0;
  font-size: 20px;
}

.card-product .link-to-card-product-1 {
  color: hsl(0, 0%, 13%);
  font-size: 25px;
  margin-top: 6px;
  line-height: 1.2;
  letter-spacing: 0.06em;
}

.card-product .card-desk-text {
  color: hsl(0, 0%, 29%);
  font-weight: 400;
  margin-top: 8px;
  margin-top: 6px;
  line-height: 1.2;
  letter-spacing: 0.06em;
}

.card-product img {
  height: 100%;
  width: 300px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product-infos h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  margin-top: -10px;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}

.booking-title {
  color: white;
  position: relative;
  top: 50px;
}

.fa-trash-alt {
  color: white;
}
