.footer {
  background: white;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #06d6a0;
  opacity: 0.4;
  text-decoration: none;
  font-size: 40px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

.footer-copyright {
  font-size: 30px;
}
