.mapboxgl-map {
  height: 100%;
}

.mapboxgl-map:hover {
  opacity: 0.9;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
  width: 100%;
}
.map {
  display :felx;
}

svg {
  background-image: url('briefcase-solid.svg');
  width: 30px;
  height: 30px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
