.ul-navbar {
  list-style-type: none;
  margin: 0;
  padding: 15px 25px;
}

.li-navbar {
  display: inline;
}

.navbar {
  padding: 3px;
  justify-content: space-between;
  background: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

li a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
  color: black;
}

a {
  font-family: 'Major Mono Display', monospace;
}

.search-container {
  border: none;
  border-radius: 10px;
  padding-left: 10px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: grey;
  font-family: 'HelveticaNeue-Light';
}
